sudo: required

language: bash

addons:
  apt:
    packages:
      - docker-ce
      - w3m

env:
  global:
    - IMAGE=${IMAGE}
    - IMAGE_NAME="${DOCKER_NAMESPACE}/${IMAGE}"

before_script:
  - sudo sysctl -w net.ipv4.ip_forward=1
  - export UBUNTU_VERSION="18.10"
  
script: |
  sh ${TRAVIS_BUILD_DIR}/build.sh
